//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
// Legacy mux smoke-test constraints only.
// The active project target is GW5AST-138B / GW5AST-LV138PG484AC1/I0.
// These example pins are not Tang Mega NEO Dock audio pins.
//Created Time: Fri 09 18 22:39:24 2026

IO_LOC "out" A1;
IO_PORT "out" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sel" F1;
IO_PORT "sel" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "b" C2;
IO_PORT "b" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "a" B1;
IO_PORT "a" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
